*{
    margin: 0;
    padding: 0;
}

body{
    background-color: darkslategray;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vh;
    width: 18vh;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0  1rem rgba(0,0,0,0.5) ;
    font-size: 8vmin;
    color: brown;
    background-color: azure;
}

#reset{
    background-color: rgba(173, 25, 5, 0.786);
    color: darkgray;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding: 1rem;
}
#new-btn{
    background-color: rgba(173, 25, 5, 0.786);
    color: darkgray;
    border-radius: 1rem;
    font-size: 1.25rem;
    padding: 1rem;
}

#mgs{
    color: whitesmoke;
    font-size: 5vmin;
}

.mgs-container{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
.hide{
    display:none;
}